<% if notice || alert %>
  <p style="font-size: 0.9em; text-align: center; margin: 0.2em 0">
    &nbsp;
    <span class="notice"><%= notice %></span>
    <span class="alert"><%= alert %></span>
    &nbsp;
  </p>
<% end %>

<p>Dashboard goes here</p>