/* line 3, /Users/schwingbat/dev/dash/app/assets/stylesheets/account_settings.scss */
.account-settings-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 9, /Users/schwingbat/dev/dash/app/assets/stylesheets/account_settings.scss */
.account-settings-pane {
  max-width: 300px;
  width: 100%;
  padding: 1em;
  margin: 0 auto;
}
/* line 15, /Users/schwingbat/dev/dash/app/assets/stylesheets/account_settings.scss */
.account-settings-pane h1 {
  text-align: center;
}

/* line 20, /Users/schwingbat/dev/dash/app/assets/stylesheets/account_settings.scss */
.account-settings-input,
.account-settings-button {
  border: 0;
  outline: 0;
  width: 100%;
}

/* line 27, /Users/schwingbat/dev/dash/app/assets/stylesheets/account_settings.scss */
.account-settings-input {
  background-color: var(--input-box-color);
  padding: 0.6em 1.2em;
  margin-bottom: 0.75em;
  color: var(--text-color);
}

/* line 34, /Users/schwingbat/dev/dash/app/assets/stylesheets/account_settings.scss */
.account-settings-button {
  background-color: var(--accent-color);
  color: var(--bg-color);
  padding: 0.4em 1.2em;
  font-size: 1.1em;
  margin-top: 0.75em;
  cursor: pointer;
}

/* line 43, /Users/schwingbat/dev/dash/app/assets/stylesheets/account_settings.scss */
.account-settings-alerts {
  font-size: 0.9em;
  text-align: center;
  margin: 0.2em 0;
}
/* line 4, /Users/schwingbat/dev/dash/app/assets/stylesheets/admin.scss */
.ban-page {
  max-width: 500px;
  margin: 0 auto;
}
/* line 8, /Users/schwingbat/dev/dash/app/assets/stylesheets/admin.scss */
.ban-page h1 {
  margin-bottom: 15px;
}

/* line 13, /Users/schwingbat/dev/dash/app/assets/stylesheets/admin.scss */
.save-button {
  background-color: var(--accent-color);
  color: var(--bg-color);
  padding: 0.2em 1.2em;
  margin-bottom: 20px;
  font-size: 1.1em;
  border: 0;
  outline: 0;
}

/* line 23, /Users/schwingbat/dev/dash/app/assets/stylesheets/admin.scss */
.ban-table {
  width: 100%;
}
/* line 26, /Users/schwingbat/dev/dash/app/assets/stylesheets/admin.scss */
.ban-table th {
  word-wrap: nowrap;
}
/* line 30, /Users/schwingbat/dev/dash/app/assets/stylesheets/admin.scss */
.ban-table tr:nth-child(even) {
  background-color: #eee;
}
/* line 34, /Users/schwingbat/dev/dash/app/assets/stylesheets/admin.scss */
.ban-table td:not(:nth-child(1)) {
  text-align: center;
}
/* line 38, /Users/schwingbat/dev/dash/app/assets/stylesheets/admin.scss */
.ban-table a {
  color: var(--accent-color);
  text-decoration: none;
}
/* line 43, /Users/schwingbat/dev/dash/app/assets/stylesheets/admin.scss */
.ban-table .banned-color {
  color: #F41D12;
}
/* line 47, /Users/schwingbat/dev/dash/app/assets/stylesheets/admin.scss */
.ban-table .unbanned-color {
  color: #23C828;
}
/* BASICS */


.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}
.cm-fat-cursor-mark {
  background-color: rgba(20, 255, 20, 0.5);
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
}
.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7;
}
@-moz-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0; right: 0; top: -50px; bottom: -20px;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0; bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0b0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #a22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px; margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -30px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px; /* Force widget margins to stay inside of the container */
}

.CodeMirror-widget {}

.CodeMirror-rtl pre { direction: rtl; }

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }
/*=========================*\
||    Navigation / Menu    ||
\*=========================*/
/* line 6, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
#dash-container {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 16, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 1em;
}

/* line 25, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
.menu {
  text-align: right;
  position: absolute;
  right: 18px;
}
/* line 30, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
.menu h4 {
  display: inline-block;
  margin-right: 20px;
}
/* line 35, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
.menu h4:last-of-type {
  margin-right: 0;
}
/* line 39, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
.menu h4 a {
  text-decoration: none;
  color: black;
}
/* line 44, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
.menu h4 a:hover {
  color: var(--accent-color);
}

/*========================*\
||   Widget List / Menu   ||
\*========================*/
/* line 53, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
#widget-list {
  width: 100%;
  max-width: 320px;
  margin-right: 1em;
  display: flex;
  flex-flow: column nowrap;
}

/* line 61, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
.widget-logo {
  display: inline-block;
  height: 60px;
  width: 60px;
  background-color: #d0d0d0;
  margin-right: 8px;
}

/* line 69, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
.widget-info {
  display: inline-block;
  margin-bottom: 20px;
}
/* line 73, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
.widget-info a {
  margin-top: -5px;
  color: var(--accent-color);
  text-decoration: none;
  font-size: 12px;
  display: inline-block;
  margin-right: 8px;
}

/* line 83, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
.widget-list-tabs {
  display: flex;
  min-height: 50px;
}

/* line 88, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
.widget-list-tab {
  flex: 1 1 50%;
  color: black;
  display: inline-block;
  text-align: center;
  padding: 12px 6px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
/* line 97, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
.widget-list-tab:hover {
  color: var(--accent-color);
}

/* line 102, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
.active-tab {
  border-bottom: 2px solid black;
}

/* line 106, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
#my-widgets, #installed-widgets {
  margin-top: 24px;
}

/* line 110, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
#installed-widgets a {
  text-decoration: none;
  color: var(--accent-color);
}

/* line 115, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
#create-widget-btn {
  display: block;
  background-color: var(--accent-color);
  color: white;
  font-size: 14px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
}

/* line 125, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
#create-widget-btn {
  display: block;
  background-color: var(--accent-color);
  color: white;
  font-size: 14px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  margin: 30px 0;
}

/*=================*\
||    Dashboard    ||
\*=================*/
/* line 140, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
.dashboard-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  flex: 1 1 100%;
}

/* line 148, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
#dashboard-widgets {
  width: 100%;
  position: relative;
  margin: 0 auto;
}
@media (min-width: 400px) {
  /* line 148, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
  #dashboard-widgets {
    width: 400px;
  }
}
@media (min-width: 600px) {
  /* line 148, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
  #dashboard-widgets {
    width: 600px;
  }
}
@media (min-width: 800px) {
  /* line 148, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
  #dashboard-widgets {
    width: 800px;
  }
}
@media (min-width: 1200px) {
  /* line 148, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
  #dashboard-widgets {
    width: 1200px;
  }
}

/* line 170, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
#dashboard-grid {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 178, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
.dashboard-grid-square {
  padding: 0.25em;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 200ms, transform 50ms;
}
/* line 189, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
.dashboard-grid-square.hidden {
  opacity: 0;
}
/* line 193, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
.dashboard-grid-square.no-transition {
  transition: none;
}
/* line 197, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
.dashboard-grid-square.invalid {
  background-color: rgba(255, 60, 80, 0.5);
}
/* line 202, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
.dashboard-grid-square .dashboard-grid-fill {
  width: 100%;
  height: 100%;
  background-color: #ddd;
}

/* line 209, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
.placeholder-pixel {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

/*=================*\
||     Widgets     ||
\*=================*/
/* line 220, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
.widget-container {
  position: absolute;
  padding: 0.25em;
  width: 150px;
  height: 150px;
  transition: opacity 100ms, transform 200ms;
}
/* line 229, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
.widget-container.dragging {
  opacity: 0.5;
}

/* line 234, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
.widget-root {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
/* line 240, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
.widget-root .widget-toolbar {
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
}
/* line 247, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
.widget-root:hover .widget-toolbar {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: all;
}

/* line 255, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
.widget-toolbar {
  display: flex;
  justify-content: flex-end;
  z-index: 2;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  transform: translate(0px);
  transition: opacity 200ms, transform 100ms;
}

/* line 270, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
.widget-toolbar-button {
  display: block;
  text-align: center;
  line-height: 24px;
  width: 24px;
  height: 24px;
  flex-basis: 24px;
  margin: 5px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-decoration: none;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 287, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
.widget-toolbar-button:hover {
  background-color: var(--accent-color);
  color: #fff;
}
/* line 292, /Users/schwingbat/dev/dash/app/assets/stylesheets/dashboard.scss */
.widget-toolbar-button img {
  width: 12px;
  height: 12px;
}
/* line 3, /Users/schwingbat/dev/dash/app/assets/stylesheets/edit_widget.scss */
.edit-widget p {
  margin-top: 12px;
  text-align: center;
}
/* line 6, /Users/schwingbat/dev/dash/app/assets/stylesheets/edit_widget.scss */
.edit-widget p a:link {
  color: var(--accent-color) !important;
}
/* line 12, /Users/schwingbat/dev/dash/app/assets/stylesheets/edit_widget.scss */
.edit-widget form label {
  margin-bottom: 6px;
  text-transform: capitalize;
  display: block;
  font-weight: bold;
}
/* line 19, /Users/schwingbat/dev/dash/app/assets/stylesheets/edit_widget.scss */
.edit-widget form input[type=text], .edit-widget form textarea {
  margin-bottom: 16px;
  padding: 6px;
  width: 100%;
}
/* line 25, /Users/schwingbat/dev/dash/app/assets/stylesheets/edit_widget.scss */
.edit-widget form textarea {
  width: 100%;
  height: 100px;
}
/* line 30, /Users/schwingbat/dev/dash/app/assets/stylesheets/edit_widget.scss */
.edit-widget form input[type=submit] {
  background-color: var(--accent-color);
  border: 0;
  outline: 0;
  color: var(--bg-color);
  padding: 0.4em 1.2em;
  font-size: 1.1em;
  display: block;
  margin: 0 auto;
}
/* line 41, /Users/schwingbat/dev/dash/app/assets/stylesheets/edit_widget.scss */
.edit-widget form .upload-link {
  display: block;
  margin-bottom: 16px;
  margin-top: 0;
  text-decoration: none;
  color: var(--accent-color);
}

/* line 51, /Users/schwingbat/dev/dash/app/assets/stylesheets/edit_widget.scss */
.edit-widget-btn {
  text-decoration: none;
  background-color: white !important;
  border: 1px solid var(--accent-color) !important;
  color: var(--accent-color) !important;
}
body {
	margin: 0;
	padding: 0;
}
.large-image:hover .controls,
.controls:hover {
	opacity: 1;
}

.controls {
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-30px);
	transition: all .15s ease-in-out;
	width: 100%;
}
.controls .prev-button,
.controls .next-button {
	background-color: rgba(255,255,255,1);
	/*border-radius: 5px;
	-webkit-box-shadow: 0 0 10px #555;
	box-shadow: 0 0 10px #555;*/
	cursor: pointer;
	height: 30px;
	outline: none;
	
	position: absolute;
	transition: all .15s ease-in-out;
	width: 30px;
}
.controls .prev-button:hover,
.controls .next-button:hover {
	background-color: rgba(255,255,255,1);
}
.controls .prev-button {
	padding: 15px 15px 15px 10px;
	left: 0;
}
.controls .next-button {
	padding: 15px 10px 15px 15px;
	right: 0;
}
.controls .prev-button.inactive,
.controls .next-button.inactive {
	background-color: rgba(220,220,220,1);/*rgba(123,123,123,.6)*/;
}
.controls .prev-button.inactive:hover,
.controls .next-button.inactive:hover {
	/*background-color: rgba(123,123,123,.7);*/
}
.controls svg {
	fill: #163838;
}
.thumbnails {
	cursor: grab;
	cursor: -o-grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}
.thumbnails > div.active {
	border: 3px solid #fff;
}
/* line 1, /Users/schwingbat/dev/dash/app/assets/stylesheets/login.scss */
.login-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 12, /Users/schwingbat/dev/dash/app/assets/stylesheets/login.scss */
.login-pane {
  max-width: 300px;
  width: 100%;
  padding: 1em;
  margin: 0 auto 0 auto;
}

/* line 19, /Users/schwingbat/dev/dash/app/assets/stylesheets/login.scss */
.dash-logotype {
  width: 100%;
  height: 100%;
  margin: 0 0 0.2em 0;
}

/* line 25, /Users/schwingbat/dev/dash/app/assets/stylesheets/login.scss */
.dash-logotype-logo {
  fill: var(--accent-color);
}

/* line 29, /Users/schwingbat/dev/dash/app/assets/stylesheets/login.scss */
.dash-logotype-text {
  fill: var(--text-color);
}

/* line 33, /Users/schwingbat/dev/dash/app/assets/stylesheets/login.scss */
.login-input,
.login-button {
  border: 0;
  outline: 0;
  width: 100%;
}

/* line 40, /Users/schwingbat/dev/dash/app/assets/stylesheets/login.scss */
.login-input {
  background-color: var(--input-box-color);
  padding: 0.6em 1.2em;
  margin-bottom: 0.75em;
  color: var(--text-color);
}

/* line 47, /Users/schwingbat/dev/dash/app/assets/stylesheets/login.scss */
.login-button {
  background-color: var(--accent-color);
  color: var(--bg-color);
  padding: 0.4em 1.2em;
  font-size: 1.1em;
  margin-top: 0.75em;
}

/* line 55, /Users/schwingbat/dev/dash/app/assets/stylesheets/login.scss */
.login-remember {
  margin-bottom: 0.55em;
  display: flex;
}

/* line 61, /Users/schwingbat/dev/dash/app/assets/stylesheets/login.scss */
.remember-checkbox {
  position: relative;
  width: 52px;
  height: 26px;
  background-color: var(--input-box-color);
  margin-right: 0.6em;
}
/* line 68, /Users/schwingbat/dev/dash/app/assets/stylesheets/login.scss */
.remember-checkbox input {
  visibility: hidden;
  position: absolute;
}
/* line 73, /Users/schwingbat/dev/dash/app/assets/stylesheets/login.scss */
.remember-checkbox label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
/* line 82, /Users/schwingbat/dev/dash/app/assets/stylesheets/login.scss */
.remember-checkbox .bauble {
  border: 2px solid var(--accent-color);
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  margin: 4px;
  transition: background-color 200ms, transform 200ms;
}
/* line 92, /Users/schwingbat/dev/dash/app/assets/stylesheets/login.scss */
.remember-checkbox input[type="checkbox"]:checked + .bauble {
  transform: translateX(26px);
  background-color: var(--accent-color);
}

/* line 98, /Users/schwingbat/dev/dash/app/assets/stylesheets/login.scss */
.login-button {
  cursor: pointer;
}

/* line 102, /Users/schwingbat/dev/dash/app/assets/stylesheets/login.scss */
.devise-links {
  text-align: center;
}

/* line 106, /Users/schwingbat/dev/dash/app/assets/stylesheets/login.scss */
.forgot-password-link {
  display: block;
  text-decoration: none;
  color: #a6a6a6;
  font-size: 0.8em;
  margin: 1em 0 0 0;
}
/* line 113, /Users/schwingbat/dev/dash/app/assets/stylesheets/login.scss */
.forgot-password-link:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

/* line 119, /Users/schwingbat/dev/dash/app/assets/stylesheets/login.scss */
.login-signup-links {
  margin-top: 2em;
}
/* line 121, /Users/schwingbat/dev/dash/app/assets/stylesheets/login.scss */
.login-signup-links a {
  text-decoration: none;
  color: var(--text-color);
  display: block;
}
/* line 126, /Users/schwingbat/dev/dash/app/assets/stylesheets/login.scss */
.login-signup-links a:not(:last-child) {
  margin-bottom: 1em;
}
/* line 130, /Users/schwingbat/dev/dash/app/assets/stylesheets/login.scss */
.login-signup-links a:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

/* line 137, /Users/schwingbat/dev/dash/app/assets/stylesheets/login.scss */
.login-alerts {
  font-size: 0.9em;
  text-align: center;
  margin: 1em 0;
}
/* line 1, /Users/schwingbat/dev/dash/app/assets/stylesheets/main.scss */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url(/assets/ibmplexmono-regular-webfont-0a082e16a1daad6e551f2f7c9b43cfecea07733ad82172d617d4bb14eaf1e5bd.woff2) format("woff2"), url(/assets/ibmplexmono-regular-webfont-2796c38eb4048f74e5d6c0ca41986ce1f2eb979c4cda39bb794ffd4ab865c636.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'IBM Plex Sans';
  src: url(/assets/ibmplexsans-semibold-webfont-a36047aae2683f93d655f113416f2b443bad57ad9ea787d6bf408ffe75820cef.woff2) format("woff2"), url(/assets/ibmplexsans-semibold-webfont-5d4750ba1f57996005ec89b7f317a595ab5d49da3c18436a9d25db2e04e1efd2.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'IBM Plex Sans';
  src: url(/assets/ibmplexsans-regular-webfont-bfcfdc68bc16150993d8b57a06585a474c913acb5dcd8ae0243696051995368f.woff2) format("woff2"), url(/assets/ibmplexsans-regular-webfont-c9fc7ef5429c62af1034a8f157234fd90db4a2e97986f6ade36c849e5fd8383e.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 31, /Users/schwingbat/dev/dash/app/assets/stylesheets/main.scss */
body {
  --accent-color: #72C1ED;
  --fonts: 'IBM Plex Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --text-color: #000;
  --bg-color: #fff;
  --input-box-color: #ededed;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--fonts);
}
/* line 42, /Users/schwingbat/dev/dash/app/assets/stylesheets/main.scss */
body.dark-theme {
  --text-color: #F4F1D0;
  --bg-color: #222;
  --input-box-color: #444343;
}

/* line 53, /Users/schwingbat/dev/dash/app/assets/stylesheets/main.scss */
input {
  font-family: var(--font);
  font-size: 1em;
}

/* line 60, /Users/schwingbat/dev/dash/app/assets/stylesheets/main.scss */
.general-alerts {
  font-size: 0.9em;
  text-align: center;
  display: inline-block;
  padding: 12px 20px;
  border: 1px solid var(--accent-color);
  border-radius: 6px;
  margin-top: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
}

/* line 72, /Users/schwingbat/dev/dash/app/assets/stylesheets/main.scss */
.notice {
  color: var(--accent-color);
}

/* line 76, /Users/schwingbat/dev/dash/app/assets/stylesheets/main.scss */
.alert {
  color: #ff0000;
}

/* line 80, /Users/schwingbat/dev/dash/app/assets/stylesheets/main.scss */
#hide-alert {
  color: #bcbcbc;
  font-size: 14px;
  text-decoration: none;
  vertical-align: center;
}

/* line 87, /Users/schwingbat/dev/dash/app/assets/stylesheets/main.scss */
.alert-div {
  text-align: right;
}

/* line 93, /Users/schwingbat/dev/dash/app/assets/stylesheets/main.scss */
div.field_with_errors {
  display: inline;
}
/* line 96, /Users/schwingbat/dev/dash/app/assets/stylesheets/main.scss */
div.field_with_errors input {
  background-color: #ffcccc;
}

/* line 101, /Users/schwingbat/dev/dash/app/assets/stylesheets/main.scss */
.red-bg {
  background-color: #ff0000;
}

/* line 105, /Users/schwingbat/dev/dash/app/assets/stylesheets/main.scss */
.center {
  text-align: center;
}
/* line 4, /Users/schwingbat/dev/dash/app/assets/stylesheets/reviews.scss */
#review-link {
  color: var(--accent-color);
  font-size: 12px;
}

/* line 9, /Users/schwingbat/dev/dash/app/assets/stylesheets/reviews.scss */
#reviews-h2 {
  margin: 20px 0;
  text-align: center;
}

/* line 14, /Users/schwingbat/dev/dash/app/assets/stylesheets/reviews.scss */
#reviews, #review-form {
  padding: 15px;
}
/* line 17, /Users/schwingbat/dev/dash/app/assets/stylesheets/reviews.scss */
#reviews p, #review-form p {
  text-align: center;
}

/* line 22, /Users/schwingbat/dev/dash/app/assets/stylesheets/reviews.scss */
.review {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
}
/* line 27, /Users/schwingbat/dev/dash/app/assets/stylesheets/reviews.scss */
.review h4 {
  width: 50%;
  display: inline-block;
  line-height: 100%;
}
/* line 33, /Users/schwingbat/dev/dash/app/assets/stylesheets/reviews.scss */
.review #review-rating {
  width: 49%;
  display: inline-block;
  text-align: right;
  font-size: 20px;
}
/* line 40, /Users/schwingbat/dev/dash/app/assets/stylesheets/reviews.scss */
.review form {
  text-align: right;
}
/* line 44, /Users/schwingbat/dev/dash/app/assets/stylesheets/reviews.scss */
.review .store-review-delete-button {
  border: 0;
  outline: 0;
  background-color: #ff0000;
  color: var(--bg-color);
  padding: 0.4em 1.2em;
  font-size: 0.8em;
  margin-top: 6px;
}

/* line 55, /Users/schwingbat/dev/dash/app/assets/stylesheets/reviews.scss */
#review-date {
  font-size: 12px;
  font-style: italic;
  color: #717171;
  margin-bottom: 8px;
}

/* line 62, /Users/schwingbat/dev/dash/app/assets/stylesheets/reviews.scss */
#review-form {
  position: relative;
}
/* line 65, /Users/schwingbat/dev/dash/app/assets/stylesheets/reviews.scss */
#review-form label {
  display: block;
  color: #717171;
  margin-bottom: 6px;
}
/* line 71, /Users/schwingbat/dev/dash/app/assets/stylesheets/reviews.scss */
#review-form h3 {
  text-align: center;
}
/* line 75, /Users/schwingbat/dev/dash/app/assets/stylesheets/reviews.scss */
#review-form textarea {
  padding: 12px;
  display: block;
  width: 100%;
  height: 150px;
  margin-bottom: 18px;
}
/* line 83, /Users/schwingbat/dev/dash/app/assets/stylesheets/reviews.scss */
#review-form select {
  width: 60px;
  margin-bottom: 20px;
  padding: 8px;
  font-family: inherit;
}
/* line 90, /Users/schwingbat/dev/dash/app/assets/stylesheets/reviews.scss */
#review-form .store-review-button,
#review-form .store-review-delete-button {
  border: 0;
  outline: 0;
  background-color: var(--accent-color);
  color: var(--bg-color);
  padding: 0.4em 1.2em;
  font-size: 1.1em;
}
/* line 100, /Users/schwingbat/dev/dash/app/assets/stylesheets/reviews.scss */
#review-form .store-review-delete-button {
  position: absolute;
  top: 60px;
  right: 15px;
  background-color: #ff0000;
}
/*
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
*/
/* line 1, /Users/schwingbat/dev/dash/app/assets/stylesheets/widget_editor.scss */
#widget-editor-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms;
}
/* line 17, /Users/schwingbat/dev/dash/app/assets/stylesheets/widget_editor.scss */
#widget-editor-container.open {
  opacity: 1;
  pointer-events: all;
}
/* line 21, /Users/schwingbat/dev/dash/app/assets/stylesheets/widget_editor.scss */
#widget-editor-container.open #widget-editor {
  transform: translateY(0);
  opacity: 1;
}

/* line 28, /Users/schwingbat/dev/dash/app/assets/stylesheets/widget_editor.scss */
#widget-editor {
  background-color: #fff;
  padding: 1em;
  transform: translateY(20px);
  opacity: 0;
  transition: transform 200ms, opacity 200ms;
  width: 100%;
  max-width: 800px;
  border: 1px solid orange;
  height: 90%;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

/* line 49, /Users/schwingbat/dev/dash/app/assets/stylesheets/widget_editor.scss */
.CodeMirror {
  flex: 1 1 100%;
}

/* line 53, /Users/schwingbat/dev/dash/app/assets/stylesheets/widget_editor.scss */
.editor-toolbar-item {
  line-height: 30px;
  display: inline-block;
  padding: 0.25em 0.5em;
  color: #fff;
  text-decoration: none;
  background-color: var(--accent-color);
}
/* line 3, /Users/schwingbat/dev/dash/app/assets/stylesheets/widgets.scss */
.store-container {
  display: flex;
}

/* line 7, /Users/schwingbat/dev/dash/app/assets/stylesheets/widgets.scss */
.store-pane {
  padding: 1em;
  margin: 0 auto;
  display: block;
  width: 77%;
}
/* line 13, /Users/schwingbat/dev/dash/app/assets/stylesheets/widgets.scss */
.store-pane h1 {
  text-align: center;
  margin-bottom: 1em;
}
/* line 18, /Users/schwingbat/dev/dash/app/assets/stylesheets/widgets.scss */
.store-pane a {
  display: inline-block;
  text-decoration: none;
  margin: 1em;
}
/* line 27, /Users/schwingbat/dev/dash/app/assets/stylesheets/widgets.scss */
.store-pane figure:hover figcaption .widget-title {
  text-decoration: underline;
  color: var(--accent-color);
}
/* line 32, /Users/schwingbat/dev/dash/app/assets/stylesheets/widgets.scss */
.store-pane figure:hover figcaption .widget-rating {
  text-decoration: none;
  color: var(--text-color);
}
/* line 39, /Users/schwingbat/dev/dash/app/assets/stylesheets/widgets.scss */
.store-pane figure .widget-logo-bg {
  background-color: #eee;
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
/* line 45, /Users/schwingbat/dev/dash/app/assets/stylesheets/widgets.scss */
.store-pane figure .widget-logo-bg img {
  background-color: #eee;
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
/* line 52, /Users/schwingbat/dev/dash/app/assets/stylesheets/widgets.scss */
.store-pane figure .widget-logo-bg p {
  line-height: 100px;
  color: var(--text-color);
}
/* line 58, /Users/schwingbat/dev/dash/app/assets/stylesheets/widgets.scss */
.store-pane figure figcaption {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-decoration: none;
  color: var(--text-color);
  font-size: 0.8em;
  padding: 2px;
}
/* line 67, /Users/schwingbat/dev/dash/app/assets/stylesheets/widgets.scss */
.store-pane figure figcaption .widget-rating {
  font-size: 0.85em;
}

/* line 76, /Users/schwingbat/dev/dash/app/assets/stylesheets/widgets.scss */
.store-details-container {
  display: flex;
}

/* line 80, /Users/schwingbat/dev/dash/app/assets/stylesheets/widgets.scss */
.store-details-pane {
  padding: 1em;
  margin: 0 auto;
  display: block;
  width: 50%;
}
/* line 86, /Users/schwingbat/dev/dash/app/assets/stylesheets/widgets.scss */
.store-details-pane h2 {
  margin-bottom: 0.2em;
}
/* line 90, /Users/schwingbat/dev/dash/app/assets/stylesheets/widgets.scss */
.store-details-pane .store-details-title {
  position: relative;
  clear: both;
  height: 140px;
  margin-top: 2em;
}
/* line 96, /Users/schwingbat/dev/dash/app/assets/stylesheets/widgets.scss */
.store-details-pane .store-details-title .widget-logo-bg {
  float: left;
  background-color: #eee;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin-right: 1em;
}
/* line 104, /Users/schwingbat/dev/dash/app/assets/stylesheets/widgets.scss */
.store-details-pane .store-details-title .widget-logo-bg img {
  background-color: #eee;
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
/* line 111, /Users/schwingbat/dev/dash/app/assets/stylesheets/widgets.scss */
.store-details-pane .store-details-title .widget-logo-bg p {
  line-height: 100px;
  color: var(--text-color);
}
/* line 117, /Users/schwingbat/dev/dash/app/assets/stylesheets/widgets.scss */
.store-details-pane .store-details-title .widget-author {
  font-size: 0.85em;
}
/* line 121, /Users/schwingbat/dev/dash/app/assets/stylesheets/widgets.scss */
.store-details-pane .store-details-title .widget-rating {
  font-size: 0.85em;
  margin-top: 2px;
}
/* line 127, /Users/schwingbat/dev/dash/app/assets/stylesheets/widgets.scss */
.store-details-pane .screenshot-gallery {
  max-width: 600px;
  margin: 0 auto;
}
/* line 132, /Users/schwingbat/dev/dash/app/assets/stylesheets/widgets.scss */
.store-details-pane .screenshot-gallery .controls .prev-button, .store-details-pane .screenshot-gallery .controls .next-button {
  padding: 5px;
}
/* line 138, /Users/schwingbat/dev/dash/app/assets/stylesheets/widgets.scss */
.store-details-pane .no-screenshots {
  max-width: 600px;
  width: 100%;
  height: 600px;
  line-height: 600px;
  text-align: center;
  background-color: #eee;
  margin: 0 auto;
}
/* line 148, /Users/schwingbat/dev/dash/app/assets/stylesheets/widgets.scss */
.store-details-pane .widget-info p {
  margin: 2em 1em;
}
/* line 152, /Users/schwingbat/dev/dash/app/assets/stylesheets/widgets.scss */
.store-details-pane p a {
  text-decoration: none;
  color: var(--text-color);
}
/* line 156, /Users/schwingbat/dev/dash/app/assets/stylesheets/widgets.scss */
.store-details-pane p a:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

/* line 165, /Users/schwingbat/dev/dash/app/assets/stylesheets/widgets.scss */
.store-input,
.store-button {
  border: 0;
  outline: 0;
  width: 100%;
}

/* line 172, /Users/schwingbat/dev/dash/app/assets/stylesheets/widgets.scss */
.store-input {
  background-color: var(--input-box-color);
  padding: 0.6em 1.2em;
  margin-bottom: 0.75em;
  color: var(--text-color);
}

/* line 179, /Users/schwingbat/dev/dash/app/assets/stylesheets/widgets.scss */
.store-install-button, .store-uninstall-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--accent-color);
  color: var(--bg-color);
  padding: 0.4em 1.2em;
  font-size: 1.1em;
  margin-top: 0;
  cursor: pointer;
  border: 0;
  outline: 0;
}

/* line 193, /Users/schwingbat/dev/dash/app/assets/stylesheets/widgets.scss */
.store-uninstall-button {
  background-color: #ff0000;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

