<div id="widget-editor-container" class="open">
	<div id="widget-editor">
		<div class="editor-toolbar">
			<a href="#" class="editor-toolbar-item" data-toolbar-action="save">Save</a>
			<a href="#" class="editor-toolbar-item" data-toolbar-action="close">Close</a>
		</div>
		<textarea id="widget-code">
	</div>
</div>
