/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
     font-family: 'IBM Plex Mono';
     src: url('ibmplexmono-regular-webfont.woff2') format('woff2'),
          url('ibmplexmono-regular-webfont.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
 }

 @font-face {
     font-family: 'IBM Plex Sans';
     src: url('ibmplexsans-semibold-webfont.woff2') format('woff2'),
          url('ibmplexsans-semibold-webfont.ttf') format('truetype');
     font-weight: bold;
     font-style: normal;
 }

 @font-face {
     font-family: 'IBM Plex Sans';
     src: url('ibmplexsans-regular-webfont.woff2') format('woff2'),
          url('ibmplexsans-regular-webfont.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
 }
