/*=========================*\
||    Navigation / Menu    ||
\*=========================*/

#dash-container {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

nav {
//  padding: 18px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  
  padding: 1em;
}

.menu {
  display: inline-block;

  h4 {
    display: inline-block;
    margin-right: 20px;
  }

  h4:last-of-type{
    margin-right: 0;
  }

  h4 a {
    text-decoration: none;
    color: black;
  }

  h4 a:hover {
    color: var(--accent-color)
  }
}

.dashboard-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  
  flex: 1 1 100%;
}

#dashboard-widgets {
  padding: 0.5em;
}

/*========================*\
||   Widget List / Menu   ||
\*========================*/

#widget-list {
  display: inline-block;
  width: 100%;
  max-width: 320px;
  margin-right: 1em;
  display: flex;
  flex-flow: column nowrap;
}

.widget-logo {
  display: inline-block;
  height: 60px;
  width: 60px;
  background-color: #d0d0d0;
  margin-right: 8px;
}

.widget-info {
  display: inline-block;
  margin-bottom: 20px;

  a {
    margin-top: -5px;
    color: var(--accent-color);
    text-decoration: none;
    font-size: 12px;
    display: inline-block;
    margin-right: 8px;
  }
}

.widget-list-tabs {
  display: flex;
}

.widget-list-tab {
  flex: 1 1 50%;
  color: black;
  display: inline-block;
  text-align: center;
  padding: 12px 6px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  
  &:hover {
    color: var(--accent-color);
  }
}

.active-tab {
  border-bottom: 2px solid black;
}

#my-widgets, #installed-widgets {
  margin-top: 24px;
}

#create-widget-btn {
  display: block;
  background-color: var(--accent-color);
  color: white;
  font-size: 14px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  margin-top: 100px;
}

/*=================*\
||     Widgets     ||
\*=================*/

.widget-root {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  
  .widget-toolbar {
    opacity: 0;
    pointer-events: none;
  }
  
  &:hover {
    .widget-toolbar {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.widget-toolbar {
  z-index: 2;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 200ms;
//  border: 1px solid orange;
}

.widget-toolbar-button {
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}