/*=========================*\
||    Navigation / Menu    ||
\*=========================*/

#dash-container {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

nav {
//  padding: 18px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  
  padding: 1em;
}

.menu {
  display: inline-block;
  margin-left: auto;

  h4 {
    display: inline-block;
    margin-right: 20px;
  }

  h4:last-of-type{
    margin-right: 0;
  }

  h4 a {
    text-decoration: none;
    color: black;
  }

  h4 a:hover {
    color: var(--accent-color)
  }
}

/*========================*\
||   Widget List / Menu   ||
\*========================*/

#widget-list {
  display: inline-block;
  width: 100%;
  max-width: 320px;
  margin-right: 1em;
  display: flex;
  flex-flow: column nowrap;
}

.widget-logo {
  display: inline-block;
  height: 60px;
  width: 60px;
  background-color: #d0d0d0;
  margin-right: 8px;
}

.widget-info {
  display: inline-block;
  margin-bottom: 20px;

  a {
    margin-top: -5px;
    color: var(--accent-color);
    text-decoration: none;
    font-size: 12px;
    display: inline-block;
    margin-right: 8px;
  }
}

.widget-list-tabs {
  display: flex;
  min-height: 50px;
}

.widget-list-tab {
  flex: 1 1 50%;
  color: black;
  display: inline-block;
  text-align: center;
  padding: 12px 6px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  
  &:hover {
    color: var(--accent-color);
  }
}

.active-tab {
  border-bottom: 2px solid black;
}

#my-widgets, #installed-widgets {
  margin-top: 24px;
}

#installed-widgets a {
  text-decoration: none;
  color: var(--accent-color);
}

#create-widget-btn {
  display: block;
  background-color: var(--accent-color);
  color: white;
  font-size: 14px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  margin-top: 100px;
}

#create-widget-btn {
  display: block;
  background-color: var(--accent-color);
  color: white;
  font-size: 14px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  margin-top: 100px;
}

/*=================*\
||    Dashboard    ||
\*=================*/

.dashboard-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  
  flex: 1 1 100%;
}

#dashboard-widgets {
  width: 100%;
  position: relative;
  margin: 0 auto;

  @media (min-width: 400px) {
    width: 400px;
  }

  @media (min-width: 600px) {
    width: 600px;
  }

  @media (min-width: 800px) {
    width: 800px;
  }

  @media (min-width: 1200px) {
    width: 1200px;
  }
}

#dashboard-grid {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dashboard-grid-square {
  padding: 0.25em;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;

  transition: opacity 200ms,
              transform 50ms;

  &.hidden {
    opacity: 0;
  }

  &.no-transition {
    transition: none;
  }

  &.invalid {
    // For placements that overlap with other widgets
    background-color: rgba(255, 60, 80, 0.5)
  }

  .dashboard-grid-fill {
    width: 100%;
    height: 100%;
    background-color: #ddd;
  }
}

.placeholder-pixel {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

/*=================*\
||     Widgets     ||
\*=================*/

.widget-container {
  position: absolute;
  padding: 0.25em;
  width: 150px;
  height: 150px;

  transition: opacity 100ms,
              transform 200ms;

  &.dragging {
    opacity: 0.5;
  }
}

.widget-root {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  
  .widget-toolbar {
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
  }
  
  &:hover {
    .widget-toolbar {
      opacity: 1;
      transform: translateY(0px);
      pointer-events: all;
    }
  }
}

.widget-toolbar {
  display: flex;
  justify-content: flex-end;
  z-index: 2;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  transform: translate(0px);
  transition: opacity 200ms,
              transform 100ms;
}

$toolbar-button-size: 24px;

.widget-toolbar-button {
  display: block;
  text-align: center;
  line-height: $toolbar-button-size;
  width: $toolbar-button-size;
  height: $toolbar-button-size;
  flex-basis: $toolbar-button-size;
  margin: 5px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-decoration: none;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &:hover {
    background-color: var(--accent-color);
    color: #fff;
  }

  img {
    width: 12px;
    height: 12px;
  }
}